@import '../../bower_components/normalize.css/normalize.css';
@import '../../bower_components/animate.css/animate.min.css';
@import '../../bower_components/select2/dist/css/select2.min.css';
@import '../../bower_components/pickmeup/css/pickmeup.css';
@import '../../bower_components/fancyBox/source/jquery.fancybox.css';
@import '../../bower_components/jquery-ui/themes/base/base.css';
@import '../../bower_components/jquery-ui/themes/base/datepicker.css';
@import '../../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';