/* Переменные */

/* colors */

$cl-global: #333;

$cl-dk-blue: #063583;
$cl-blue: #1558c7;

$cl-dk-grey: #999;
$cl-grey: #ccc;
$cl-lg-grey: #f1f1f1;

$cl-red: #e22e2e;
$cl-green: #54bf6d;

/* /colors */

/* sizes */

$field-height: $gutter;

/* /sizes */

$img_path: '../img';

$time: 200ms;
$opac: 0.5;